html {
  font-size: 1em;
  font-family: Helvetica;
  background-image: url('escheresque_ste.png');
}

#content{
  
}

.appContainer {
  position: fixed;
  left: 25vw;
  min-width: 50vw;
  max-width: 500px;
  background-color: white;
  height: 94vh;
  text-align: left;
  padding: 10px;
  border-radius: 6px;

}

.appContainer .subTitle {
  text-align: center;
}

.appContainer h1 {
    color: black;
    text-align: center;
    padding-top: -10px;
    margin-bottom: 0px;
}

.appContainer ul {
  list-style-type: none;
}

.searchContainer {
  text-align: center;
}

.searchContainer input {
  text-align: center;
  font-family: inherit;
  font-size: 125%;
  border: none;
  outline: none;
}


.ingredientsContainer {
  padding-left: 20px;
}

.drinkContainer {
  padding-left: 20px;
}

.detailContainer {
  padding-left: 20px;
}